{{ form_start(form, {'attr': {'id': 'wish'}} )}}
    {{ form_widget(form) }}
      <div class="flex justify-center"><button class="inline-flex w-36 justify-center items-center px-2 py-2 mt-6 text-sm font-medium text-center text-white bg-[#21204F] rounded-lg border-solid border-2 hover:text-[#BBCED2] hover:border-[#BBCED2]">{{ button_label|default('Enregistre') }}</button></div>
{{ form_end(form) }}
